
*.v2
.vs/RestaurantManagement/FileContentIndex/17ddeac3-5877-4f5d-a569-85e7eab4bfd0.vsidx
.vs/RestaurantManagement/FileContentIndex/2acc225a-45b9-4cf1-86a8-293a25bc0ee8.vsidx
.vs/RestaurantManagement/FileContentIndex/1843422d-dcca-4f76-93bc-22096530afad.vsidx
.vs/RestaurantManagement/FileContentIndex/ab94fcff-75b9-4aa0-94db-9ccafe8bef74.vsidx
.vs/RestaurantManagement/FileContentIndex/b8477fe6-8809-4246-a840-997c7f28c733.vsidx
*.vsidx
.vs/RestaurantManagement/v17/.suo
.vs/RestaurantManagement/v17/DocumentLayout.json
*.pdb
*.pdb
*.pdb
.vs/RestaurantManagement/v17/DocumentLayout.json
*.pdb
*.dll
RestaurantManagement/obj/Debug/netcoreapp3.1/RestaurantManagement.sourcelink.json
RestaurantManagement/obj/Debug/netcoreapp3.1/RestaurantManagement.RazorTargetAssemblyInfo.cs
RestaurantManagement/obj/Debug/netcoreapp3.1/RestaurantManagement.RazorTargetAssemblyInfo.cache
*.dll
*.cache
RestaurantManagement/obj/Debug/netcoreapp3.1/RestaurantManagement.AssemblyInfo.cs
RestaurantManagement/obj/Debug/netcoreapp3.1/Razor/Views/Home/Details.cshtml.g.cs
*.exe
RestaurantManagement/obj/Debug/netcoreapp3.1/RestaurantManagement.AssemblyInfoInputs.cache
RestaurantManagement/obj/Debug/netcoreapp3.1/RestaurantManagement.AssemblyInfo.cs
