<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <style>
     /*    .m-3 {
            margin: 1rem !important;
            width: 350px;
        } */
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        @RenderBody() 
       @*
           RenderBody()
           this is the location where view specific 
           content will be plugged in
       *@
    </div>
    @* @RenderSection("Scripts",required:false) *@
@*     another approach for making section optional *@
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
</body>
</html>
