@{
    Layout = "_Layout";
}
<h1>Home ViewStart</h1>
@*     
  _ViewStart is Hierarchical
the layout page specified in the viewstart file in the home sub-folder overwrites 
the layout page specified in the Views Folder

*@