<html>
    <body>
    <h3>Model</h3>
    <h3>@ViewBag.PageTitle</h3>

    @* This is also not stromgly typed view *@
    
    <div>Name: @Model.Name</div>
    <div>Email:@Model.Email</div>
    <div>Dept: @Model.Department</div>
    <hr />
   
    </body>
</html>