@model RestaurantManagement.ViewModels.HomeDetailsViewModel//strongly typed view

@{
    // Layout = "~/Views/Shared/_Layout.cshtml";

}
<html>
@*     
   Here we are passing 2 piece of information
   from Details action to Details View
   model for Employee & ViewBag for PageTitle
*@
@*
      Using ViewBag, we are creating a loosely typed view as it does not provide intellisense
 *@

@*
      Including pagetitle property into Employee model does not make any sense
      b/c employee class must only  contain Employee related properties

 *@
@*
      This is when we create a separate class that contains all the data our dteails view
      need .This class is called
      "ViewModel"

 *@
    <body>
    <h3>ViewModel</h3>
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1>@Model.Employee.Name</h1>
                </div>

                <div class="card-body text-center">
                    <img class="card-img-top" src="~/images/noimage.png" />

                    <h4>Employee ID : @Model.Employee.Id</h4>
                    <h4>Email : @Model.Employee.Email</h4>
                    <h4>Department : @Model.Employee.Department</h4>

                </div>
                <div class="card-footer text-center">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
   
    </body>
</html>
@section Scripts
  {
    <script src="~/js/customscript.js"></script>
}